<a href="https://colab.research.google.com/github/Umesh2851997/Programming/blob/main/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scraping

#Github :-

##WEB SCRAPING

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
html_text = requests.get('https://www.timesjo.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords=Data+Science&txtLocation=Bengaluru%2F+Bangalore').text
soup = BeautifulSoup(html_text, 'lxml')
print(soup.prettify())

<html>
 <head>
  <title>
   404 Not Found
  </title>
 </head>
 <body>
  <center>
   <h1>
    404 Not Found
   </h1>
  </center>
  <hr/>
  <center>
   openresty
  </center>
 </body>
</html>

In [ ]:
import pandas as pd
df=pd.DataFrame(columns = ['Company Name' , 'Skills Required', 'Job Publish Date', 'Apply' ])

In [ ]:
# span class="srp-skills"

In [ ]:
html_text = requests.get('https://www.timesjobs.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords=Data+Science&txtLocation=Bengaluru%2F+Bangalore').text
soup = BeautifulSoup(html_text, 'lxml') #soup is your BS object
jobs = soup.find_all('li', class_='clearfix job-bx wht-shd-bx')
for job in jobs: #When I know it is a list I will iterate using a for loop!
    company_name = job.find('h3', class_ = 'joblist-comp-name').text.replace('\r\n', '').strip()
    skills = job.find('span', class_ = 'srp-skills').text.replace('\r\n', '').strip()
    job_publish_date = job.find('span', class_ = 'sim-posted').text.replace('\r', '').replace('Posted ', '').replace('\t', '').replace('\n', '').strip()
    more_info = job.header.h2.a['href']
    simple_list=[[company_name, skills, job_publish_date, more_info]]
    df = df.append(pd.DataFrame( simple_list,
               columns=['Company Name' , 'Skills Required', 'Job Publish Date', 'Apply']),
               ignore_index = True)

<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,
<ipython-input-12-e8b9a1126246>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame( simple_list,

In [ ]:
df

,Company Name,Skills Required,Job Publish Date,Apply
0,INSPIRATION MANPOWER,"python , bi , mobile , machine learning ...",few days ago,https://www.timesjobs.com/job-detail/data-scie...
1,INSPIRATION MANPOWER,"python , bi , mobile , microsoft azure ...",few days ago,https://www.timesjobs.com/job-detail/data-scie...
2,Maxgen Technologies (More Jobs),"intern , data science",few days ago,https://www.timesjobs.com/job-detail/data-scie...
3,Maxgen Technologies (More Jobs),"engineer , data science , Tableau",a month ago,https://www.timesjobs.com/job-detail/data-scie...
4,Maxgen Technologies (More Jobs),"engineer , data sceince , jobs",a month ago,https://www.timesjobs.com/job-detail/data-scie...
5,HR Jobs Placements (More Jobs),"Data Science Analyst , Data Science , test...",a month ago,https://www.timesjobs.com/job-detail/data-scie...
6,COGNITER TECHNOLOGIES,"data mining , ensemble , data science , ...",few days ago,https://www.timesjobs.com/job-detail/sr-data-s...
7,freshworks technologies ltd,"data analysis , machine learning , artif...",few days ago,https://www.timesjobs.com/job-detail/principal...
8,Kpro Solutions,"python , sas , sql , data extraction , ...",2 days ago,https://www.timesjobs.com/job-detail/analytics...
9,NUWARE SYSTEMS PVT LTD,"python , rdbms , data mining , machine l...",2 days ago,https://www.timesjobs.com/job-detail/analyst-d...
10,CTE,"fundamentals , algorithms , python , mac...",few days ago,https://www.timesjobs.com/job-detail/senior-en...
11,TARGET,"algorithms , technical leader , python , ...",3 days ago,https://www.timesjobs.com/job-detail/director-...
12,buck global llc,"algorithms , technical leader , python , ...",4 days ago,https://www.timesjobs.com/job-detail/director-...
13,Paytm,"algorithms , scala , brewing , java , ...",few days ago,https://www.timesjobs.com/job-detail/data-scie...
14,resourceq services,"hive , fundamentals , c , scala , sq...",few days ago,https://www.timesjobs.com/job-detail/data-scie...
15,Gainwell Technologies,"rest api , bi , business rules , sql , ...",a month ago,https://www.timesjobs.com/job-detail/advisor-d...
16,ConcertAI,"conference , data mining , machine learning",few days ago,https://www.timesjobs.com/job-detail/senior-pr...
17,pype,"image processing , python , problem solvin...",2 days ago,https://www.timesjobs.com/job-detail/machine-l...
18,Tata Communications Ltd,"program management , user interaction , gr...",today,https://www.timesjobs.com/job-detail/assistant...
19,Tata Communications Ltd,"information technology , program management ...",few days ago,https://www.timesjobs.com/job-detail/assistant...
20,PA REcruiters (More Jobs),"Airport Management , Cabin Crew , Air Host...",2 days ago,https://www.timesjobs.com/job-detail/airport-j...
21,Maxgen Technologies (More Jobs),intern,2 days ago,https://www.timesjobs.com/job-detail/data-anal...
22,Soumya Gayen (More Jobs),"Excel , data entry , computer operator , ...",1 day ago,https://www.timesjobs.com/job-detail/data-entr...
23,Saleem Khan (More Jobs),Immediate Hiring Only home based Work.,Work from Home 1 day ago,https://www.timesjobs.com/job-detail/earn-toda...
24,SAMPOORNA CONSULTANTS PVT LTD (More Jobs),"Switches , Routers",2 days ago,https://www.timesjobs.com/job-detail/diversity...

In [ ]:
df_10page=pd.DataFrame(columns = ['Company Name' , 'Skills Required', 'Job Publish Date', 'Apply' ])

for page in range(1,11):
    html_text = requests.get('https://www.timesjobs.com/candidate/job-search.html?from=submit&actualTxtKeywords=Data%20Science&searchBy=0&rdoOperator=OR&searchType=personalizedSearch&txtLocation=Bengaluru/%20Bangalore&luceneResultSize=25&postWeek=60&txtKeywords=data%20science&pDate=I&sequence='+str(page)+'&startPage=1').text
    soup = BeautifulSoup(html_text, 'lxml')
    jobs = soup.find_all('li', class_='clearfix job-bx wht-shd-bx')
    for job in jobs:
        company_name = job.find('h3', class_ = 'joblist-comp-name').text.replace('\r\n', '').strip()
        skills = job.find('span', class_ = 'srp-skills').text.replace('\r\n', '').strip()
        job_publish_date = job.find('span', class_ = 'sim-posted').text.replace('\r', '').replace('Posted ', '').replace('\t', '').replace('\n', '').strip()
        more_info = job.header.h2.a['href']
        simple_list=[[company_name, skills, job_publish_date, more_info]]
        df_10page = df_10page.append(pd.DataFrame( simple_list,
                   columns=['Company Name' , 'Skills Required', 'Job Publish Date', 'Apply']),
                   ignore_index = True)

In [ ]:
df_10page

,Company Name,Skills Required,Job Publish Date,Apply
0,HR Jobs Placements (More Jobs),"Data Science Analyst , Data Science , test...",2 days ago,https://www.timesjobs.com/job-detail/data-scie...
1,Wow Labz,"github , python , data mining , mining ...",few days ago,https://www.timesjobs.com/job-detail/data-scie...
2,CANVAS27.com (More Jobs),"r , data analysis , logistic regression ,...",few days ago,https://www.timesjobs.com/job-detail/data-anal...
3,Nielsen Research Ltd. Co.,"project leader , project management , Data...",few days ago,https://www.timesjobs.com/job-detail/manager-a...
4,Tuebora Software Private Limited,"data analysis , data science , business re...",6 days ago,https://www.timesjobs.com/job-detail/data-scie...
...,...,...,...,...
245,AIN Placement and Staffing (More Jobs),No Boss No Tension do your best part time jobs,few days ago,https://www.timesjobs.com/job-detail/hiring-ba...
246,AIN Placement and Staffing (More Jobs),"Nobel typing work , PDF to Ms word computer...",few days ago,https://www.timesjobs.com/job-detail/wanted-da...
247,AIN Placement and Staffing (More Jobs),Walk - In for Non - Voice Process Day Shift ...,few days ago,https://www.timesjobs.com/job-detail/hourly-va...
248,AIN Placement and Staffing (More Jobs),"NO SPECIAL QULIFICATION , BASIC INTERNET KN...",few days ago,https://www.timesjobs.com/job-detail/huge-open...
249,AIN Placement and Staffing (More Jobs),You can get this job no extra change we need,few days ago,https://www.timesjobs.com/job-detail/hiring-ba...

In [ ]:
# importing the libraries
from bs4 import BeautifulSoup
import requests
import csv


# Step 1: Sending a HTTP request to a URL
url = "https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_GDP_(PPP)"
# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text


# Step 2: Parse the html content
soup = BeautifulSoup(html_content, "lxml")
# print(soup.prettify()) # print the parsed data of html


# Step 3: Analyze the HTML tag, where your content lives
# Create a data dictionary to store the data.
data = {}
#Get the table having the class wikitable
gdp_table = soup.find_all("table", attrs={"class": "wikitable"})
gdp_table_data = gdp_table[4].tbody.find_all("tr")  # contains 2 rows

# Get all the headings of Lists
headings = []
for td in gdp_table_data[0].find_all("th"):
    # remove any newlines and extra spaces from left and right
    headings.append(td.text.replace('\n', ' ').strip())

df_table=pd.DataFrame(columns = headings)

# Get all the 3 tables contained in "gdp_table"
for i in range(2,len(gdp_table_data)):
    row=[]
    for td in gdp_table_data[i].find_all("td"):
        row.append(td.text.replace('\n', ' ').strip())
    if len(row) == len(df_table.columns):
        a_series = pd.Series(row, index = df_table.columns)
        df_table = df_table.append(a_series,
                   ignore_index = True)


df_table

,Country (or dependent territory),2020,2021,2022,2023,2024,2025,2026,2027
0,Albania,"40,658","45,965","49,827","52,760","55,896","58,982","62,187","65,577"
1,Algeria,"497,091","538,424","586,175","618,272","644,168","669,027","693,444","720,021"
2,Andorra,"4,092","4,644","5,157","5,455","5,714","5,921","6,128","6,344"
3,Angola,"211,134","221,341","242,286","257,804","274,109","290,843","308,693","327,223"
4,Antigua and Barbuda,"1,786","1,949","2,206","2,395","2,581","2,740","2,870","3,006"
...,...,...,...,...,...,...,...,...,...
185,Vietnam,"1,061,437","1,134,024","1,278,061","1,411,823","1,548,457","1,689,945","1,840,981","2,003,851"
186,Palestine,"27,371","30,222","33,403","35,610","37,362","38,908","40,486","42,135"
187,Yemen,"59,877","61,119","65,603","69,262","75,935","82,528","89,201","95,975"
188,Zambia,"63,559","69,054","75,690","80,786","86,057","91,504","97,452","104,201"
189,Zimbabwe,"32,767","36,292","39,906","42,352","44,725","47,061","49,470","51,966"